<ion-header>
  <ion-toolbar color="medium">
      <ion-buttons slot="start" class="back" >
          <ion-back-button > </ion-back-button>
      </ion-buttons>
   <ion-title > تعديل الحالة</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="theForm" (ngSubmit)="PostForm()" class="bg-white">
     <div class="borderradius top">
       <ion-label> الاسم الاول</ion-label>
        <ion-input class="border bottom"  value="{{f_name}}" formControlName="f_name" name="f_name"  type="text"  placeholder="الاسم الاول"
          [class.activedone]="theForm.controls.f_name.valid" [class.activeNotdone]="!theForm.controls.f_name.valid"></ion-input>

       <ion-label>  اسم الاب</ion-label>
        <ion-input class="border bottom"  value="{{fa_name}}"  formControlName="fa_name" name="fa_name" type="text" placeholder=" اسم الاب"></ion-input>

       <ion-label>  اسم العائله</ion-label>
        <ion-input class="border bottom"  value="{{fam_name}}"   formControlName="fam_name" name="fam_name" type="text" placeholder=" اسم العائله"></ion-input>
          
 <!-- national -->
 <ion-label> الجنسيه</ion-label>
   <ion-list>
     <ion-radio-group value="{{nationality}}" (ionChange)="RadioChangeeventCi($event)" name="nationality" >
       <ion-item class="bg">
         <ion-label>سعودى</ion-label>
         <ion-radio value="1" checked="true" ></ion-radio>
       </ion-item>

       <ion-item class="bg">
        <ion-label>غير سعودى</ion-label>
        <ion-radio value="0" name="nationality"></ion-radio>
       </ion-item>
    </ion-radio-group>

 <ion-item color="gray" class="i" *ngIf="citizen">
   <ion-label class="ser"> الدوله </ion-label>
   <ion-select class="select"   [selectedText]="nationality_country"   value="{{nationality_country}}"   formControlName="nationality_country" class="labb" name="nationality_country">
       <ion-select-option value='{{ country.id}}' *ngFor="let country of countriesall?.countries">{{country.name}}</ion-select-option>
   </ion-select>
 </ion-item>

  <ion-label *ngIf="citizen"> نوع</ion-label>
    <ion-radio-group (ionChange)="RadioChangeeventC($event)"  value="{{number_type}}"  formControlName="number_type" name="number_type" >
      <ion-item class="bg" *ngIf="citizen">
       <ion-label>رقم الاقامه</ion-label>
        <ion-radio value="1" checked="true"></ion-radio>
      </ion-item>

     <ion-item class="bg" *ngIf="citizen">
       <ion-label>رقم الحدود</ion-label>
         <ion-radio value="2"></ion-radio>
     </ion-item>
    </ion-radio-group>
     <ion-input class="border bottom"  value="{{id_number}}"  formControlName="id_number" name="id_number" type="number" placeholder="الرقم "
        *ngIf="citizen"></ion-input>

        <ion-input class="border bottom"  value="{{mobile}}"  formControlName="mobile" name="mobile" type="number" placeholder=" الجوال"
        *ngIf="citizen"> </ion-input> 
   </ion-list>
    
   <ion-list *ngIf="!citizen">
     <ion-label> الهويه</ion-label>
      <ion-radio-group (ionChange)="RadioChange($event)" value="{{0}}"  formControlName="number_type" name="number_type">
        <ion-item class="bg">
          <ion-label>رقم الهويه</ion-label>
           <ion-radio value="0" checked="true"></ion-radio>
        </ion-item>
       </ion-radio-group>
   </ion-list>

   <div class="borderradius top" *ngIf="!citizen">
     <ion-input class="border bottom"  value="{{id_number}}" formControlName="id_number"  name="id_number" type="number" placeholder="رقم الهويه"> </ion-input>
     <ion-input class="border bottom"   value="{{mobile}}" formControlName="mobile"  name="mobile" type="number" placeholder=" الجوال +9665"> </ion-input>
   </div>

 <ion-label> الجنس</ion-label>
  <ion-list>
    <ion-radio-group (ionChange)="RadioChangeeventF($event)" name="gender" value="{{gender}}"  formControlName="gender">
      <ion-item class="bg">
        <ion-label>ذكر</ion-label>
        <ion-radio value="1" checked="true"></ion-radio>
      </ion-item>
      <ion-item class="bg">
        <ion-label>انثى </ion-label>
        <ion-radio value="0"></ion-radio>
          </ion-item>
        </ion-radio-group>

      </ion-list>
      <div class="borderradius top">
        <ion-label>العمر</ion-label>
        <ion-input class="border bottom" formControlName="age"  value="{{age}}" required name="age" type="text" placeholder="  العمر "></ion-input>
      </div>
 

      <ion-label> الاحداثيات</ion-label>
      <ion-list>
        <ion-radio-group (ionChange)="RadioChangeNQ($event)" value="{{coordinates_type}}"  name="coordinates_type" formControlName="coordinates_type">
          <ion-item class="bg">
            <ion-label>الان</ion-label>
            <ion-radio value="0" checked="true"></ion-radio>
          </ion-item>
          <ion-item class="bg">
            <ion-label>لاحقا </ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <div class="borderradius top">

        <ion-row  [hidden]="now">
          <ion-col size="9">
            <ion-input class="border" value="{{address}}" formControlName="address"  name="address"  type="text"
              placeholder="قم بتحريك ايقونه الموقع لاختيار او استخدام زر موقعك الحالى " [value]="addressValue">
            </ion-input>
            <ion-input class="border" value="{{latitude}}" formControlName="latitude" [hidden]="true" name="latitude" type="text" [hidden]="true" [value]="latitudeValue">
            </ion-input>
            <ion-input class="border" value="{{longitude}}" formControlName="longitude" [hidden]="true" name="longitude" type="text"  [hidden]="true" [value]="longitudeValue">
            </ion-input>

          </ion-col>
          <ion-col size="3" >
            <ion-col class="map" [routerLink]="['/maps']">
              <img src="../../assets/img/map.jpeg" width="40">
            </ion-col>
          </ion-col>
        </ion-row>

      </div>


      <ion-item color="gray" class="i">
        <ion-label class="ser"> ~اختر المركز الصحى~ </ion-label>
        <ion-select class="select"  [selectedText]="phc_name"  value="{{phc_name}}" formControlName="phc_name"  name="phc_name" class="labb">
          <ion-select-option value='{{ phcs.id}}' *ngFor="let phcs of medicalcenter?.phcs">{{phcs.name}}  </ion-select-option>
   
        </ion-select>
      </ion-item>


      <ion-item color="gray" class="i">
        <ion-label class="ser"> ~اختر المنطقه ~ </ion-label>
        <ion-select class="select" [selectedText]="region_name"   value="{{region_name}}" formControlName="region_name" name="region_name" class="labb" (ngModelChange)="getGovernment($event)">
          <ion-select-option value='{{region.id}}' *ngFor="let region of regions?.regions">{{region.name}}
          </ion-select-option>

        </ion-select>
      </ion-item>

      <ion-item color="gray" class="i">
        <ion-label class="ser"> ~اختر المحافظه ~ </ion-label>
        <ion-select class="select" [selectedText]="governorate_name"  value="{{governorate_name}}" formControlName="governorate_name" name="governorate_name"  class="labb">
          <ion-select-option value='{{ governorate.id }}' *ngFor="let governorate of  governorates?.governorates">{{governorate.name}}</ion-select-option>

        </ion-select>
      </ion-item>

          
      <div class="borderradius top">
        <ion-input class="border bottom" value="{{village_name}}" formControlName="village_name" name="village_name" type="text" placeholder="اسم الحى "></ion-input>
      </div>


      <ion-label> بيانات المرض</ion-label>
      <ion-list>
        <ion-radio-group (ionChange)="RadioChangeD($event)"  value="{{disease_name}}" formControlName="disease_name"  name="disease_name" [value]="selectDiseases">
          <ion-item class="bg">
            <ion-label>الملاريا</ion-label>
            <ion-radio value="1" checked="true"></ion-radio>
          </ion-item>

          <ion-item class="bg">
            <ion-label>حمى الضنك </ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>

          <ion-item class="bg">
            <ion-label>حمى الوادى المتصدع </ion-label>
            <ion-radio value="3"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-item color="gray" class="i calender-input">
        <ion-label class="ser"> تاريخ بدايه الاعراض </ion-label>
        <ion-datetime class="select" displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY"
        class="serr"  value="{{day_of_onset}}" formControlName="day_of_onset"  name="day_of_onset"></ion-datetime>
        <img src="../../assets/img/calender.jpeg" class="img-calender">

      </ion-item>

      <ion-item color="gray" class="i calender-input">
        <ion-label class="ser"> تاريخ التشخيص </ion-label>

        <ion-datetime class="select" displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY"
        class="serr" value="{{date_of_diagnosis}}" formControlName="date_of_diagnosis"  name="date_of_diagnosis"></ion-datetime>
        <img src="../../assets/img/calender.jpeg" class="img-calender">
      </ion-item>



      <ion-item color="gray" class="i">

        <ion-label *ngIf="selectDiseases=='1'||selectDiseases=='2'" class="ser"> ~اختر النوع ~ </ion-label>
        <ion-label *ngIf="selectDiseases=='3'" class="ser"> الترميز الدولي العاشر </ion-label>
        <ion-select class="select"    [selectedText]="disease1_type_name"  value="{{disease1_type_name}}" formControlName="disease1_type_name" name="disease1_type_name" *ngIf="selectDiseases=='1'" class="labb">
          <ion-select-option value='{{ diseses.id}}' *ngFor="let diseses of diseasesall?.types">{{diseses.name}}
          </ion-select-option>

        </ion-select>
        <ion-select class="select"  [selectedText]="disease2_type_name"  value="{{disease2_type_name}}"  formControlName="disease2_type_name"  name="disease2_type_name" *ngIf="selectDiseases=='2'" class="labb">
          <ion-select-option value='{{ diseses.id}}' *ngFor="let diseses of diseasesall?.types">{{diseses.name}}
          </ion-select-option>

        </ion-select>
        <ion-select class="select"   [selectedText]="disease3_type_name"  value="{{disease3_type_name}}"  formControlName="disease3_type_name"    name="disease3_type_name" *ngIf="selectDiseases=='3'" class="labb">
          <ion-select-option value='{{ diseses.id}}' *ngFor="let diseses of diseasesall?.types">{{diseses.name}}
          </ion-select-option>

        </ion-select>
      </ion-item>

      <ion-item color="gray" class="i">
        <ion-label class="ser"> ~ وضع الحاله ~ </ion-label>
        <ion-select class="select"     [selectedText]="status_ar"  formControlName='status_ar' (ionChange)="selectstatus()"  name="showcase" class="labb">
          <ion-select-option  value='0'>
             مشتبه بيها
          </ion-select-option>
          <ion-select-option  value='1'>
            مؤكده            
            </ion-select-option>
          <ion-select-option value='2'>
            سلبيه              
          </ion-select-option>

        </ion-select>
      </ion-item>


      <ion-label *ngIf="selectDiseases=='1'"> قدوم المملكه من الخارج خلال الشهر السابق علي بدايه الاعراض</ion-label>
      <ion-label *ngIf="selectDiseases=='3'||selectDiseases=='2'"> قدوم للمملكة من الخارج خلال الاسبوعين السابقين على بداية  الأعراض</ion-label>
      <ion-list>
        <ion-radio-group (ionChange)="RadioChangeYY($event)"   value="{{disease_arrival}}"  formControlName="disease_arrival" name="disease_arrival">
          <ion-item class="bg">
            <ion-label>لا</ion-label>
            <ion-radio value="1" checked="true"></ion-radio>
          </ion-item>
          <ion-item class="bg">
            <ion-label>نعم </ion-label>
            <ion-radio value="0"></ion-radio>
          </ion-item>
        </ion-radio-group>


        <ion-item color="gray" class="i" *ngIf="country2 && selectDiseases == '1'">
          <ion-label class="ser"> الدوله </ion-label>
          <ion-select class="select"    [selectedText]="disease1_country" value="{{disease1_country}}"   formControlName="disease1_country" name="disease1_country"  class="labb">
            <ion-select-option value='{{ country.id}}' *ngFor="let country of countriesall?.countries">{{country.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="gray" class="i" *ngIf="country2 && selectDiseases == '2'">
          <ion-label class="ser"> الدوله </ion-label>
          <ion-select class="select"   [selectedText]="disease2_country"   value="{{disease2_country}}"  formControlName="disease2_country"   name="disease2_country"  class="labb">
            <ion-select-option value='{{ country.id}}' *ngFor="let country of countriesall?.countries">{{country.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="gray" class="i" *ngIf="country2 && selectDiseases == '3'">
          <ion-label class="ser"> الدوله </ion-label>
          <ion-select class="select"    [selectedText]="disease3_country"  value="{{disease3_country}}"  formControlName="disease3_country"   name="disease3_country"  class="labb">
            <ion-select-option value='{{ country.id}}' *ngFor="let country of countriesall?.countries">{{country.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>




      </ion-list>

          
        </div>
        
        <ion-button color="medium" class="ion-button" type="submit"  >تعديل</ion-button>

  </form>




</ion-content>



<!-- 
          <ion-label class="">  وضع الحاله  </ion-label>

          <ion-item color="gray" class="i">
            <ion-select style="text-align: center;max-width: 100%;width: 70%;" formControlName='case' (ionChange)="selectstatus()"  [selectedText]="case"  name="showcase" class="labb">
              <ion-select-option  value='0'>
                مشتبه بيها

              </ion-select-option>
              <ion-select-option  value='1'>
                مؤكده            
                </ion-select-option>
              <ion-select-option value='2'>
                سلبيه              
              </ion-select-option>
            </ion-select>
          </ion-item> -->